body{
    background-color: #76B6EA;
}
/* HEADER */
header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 40px;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .navigation__logo {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav .navigation__logo figure {
    width: 50px;
    height: 50px;
}

header nav .navigation__logo figure:hover {
    transform: scale(1.03);
}

header nav .navigation__logo figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header nav .navigation__menu {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

header nav .navigation__menu button {
    width: 130px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

header nav .navigation__menu #btn-register {
    background: #036;
}

header nav .navigation__menu #btn-register:hover {
    background: rgb(12, 94, 175);
    transform: scale(1.01);
}

header nav .navigation__menu #btn-register a {
    color: #fff;
    font-family: "Poppins", "sans-serif";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

header nav .navigation__menu #btn-login {
    background: #f7d90f;
}

header nav .navigation__menu #btn-login:hover {
    background: #ffeb6a;
    transform: scale(1.01);
}

header nav .navigation__menu #btn-login a {
    color: #262424;
    text-align: center;
    font-family: "Poppins", "sans-serif";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

header nav .navigation__menu .menu__mode {
    display: none;
}

/* MAIN */

main {
    width: 100%;
    height: 100%;
    margin: 10px 0;
}

main .main__container {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 40px;
    display: flex;
    gap: 20px;
    min-height: 500px;
    align-items: center;
}

main .main__container .container__formulario {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .main__container .container__formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

main .main__container .container__formulario form .input-fields {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

main .main__container .container__formulario form .input-fields .input-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 23px;
}

main .main__container .container__formulario form .input-fields .input-box label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main .main__container .container__formulario form .input-fields .input-box label span {
    color: #262424;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
}

main .main__container .container__formulario form .input-fields .input-box label span i {
    color: #d20707;
}
main .main__container .container__formulario form .input-fields .input-box label span i:hover {
    color: #f02929;
}

main .main__container .container__formulario form .input-fields .input-box label input {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    color: #262424;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main .main__container .container__formulario form .btn-register {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background: #036;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    border: none;
}

main .main__container .container__formulario form .btn-register:hover {
    background: rgb(12, 94, 175);
    transform: scale(1.01);
}

main .main__container .container__description {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .main__container .container__description .description__content {
    width: 90%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main .main__container .container__description .description__content p {
    color: #262424;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* FOOTER */

footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

footer h4 {
    color: #262424;
    font-family: "Poppins", "sans-serif";
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* RESPONSIVE */
@media screen and (max-width: 1380px) {
    main .main__container .container__formulario form .input-fields .input-box label input {
        max-width: 300px;
        width: auto;
    }
}

@media screen and (max-width: 1050px) {
    main .main__container .container__formulario form .input-fields .input-box label input {
        max-width: 200px;
    }
}

@media screen and (max-width: 999px) {
    main .main__container {
        flex-direction: column;
    }
    main .main__container .container__formulario {
        width: 90%;
        text-align: center;
    }
    main .main__container .container__formulario form {
        align-items: center;
    }
    main .main__container .container__formulario form .input-fields .input-box label input {
        max-width: 300px;
        width: auto;
    }
    main .main__container .container__formulario form .input-fields .input-box label input {
        max-width: 300px;
        width: auto;
    }
    main .main__container .container__description {
        width: 90%;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    main .main__container .container__formulario form .input-fields .input-box {
        flex-wrap: wrap;
    }
    main .main__container .container__formulario form .input-fields .input-box label {
        align-items: center;
    }
    main .main__container .container__formulario form .input-fields .input-box label input {
        max-width: 100%;
        width: 100%;
    }
    main .main__container .container__formulario form .btn-register {
        width: 90%;
    }
    header {
        padding: 0 20px;
    }
    main .main__container {
        padding: 0 20px;
    }
    footer {
        padding: 0 20px;
    }
}

@media screen and (max-width: 400px) {
    header nav .navigation__menu button {
        width: 100px;
    }
    header nav .navigation__menu #btn-login a {
        font-size: 12px;
    }
    header nav .navigation__menu #btn-register a {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    header nav .navigation__menu button {
        width: 80px;
    }
    header nav .navigation__menu #btn-login a {
        font-size: 10px;
    }
    header nav .navigation__menu #btn-register a {
        font-size: 10px;
    }
}
