body {
  background-image: linear-gradient(150deg, #052545 45%, #76b6ea 45%);
  background-repeat: no-repeat;
}

/* HEADER */
header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}

header .header__navigation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navigation__logo {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .navigation__logo figure {
  width: 50px;
  height: 50px;
}

header .navigation__logo figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header .navigation__menu-mobile {
  width: 30px;
  height: 70px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

header .navigation__menu-mobile div {
  width: 30px;
  height: 3px;
  border-radius: 20px;
  background-color: #fff;
  transition: all 0.5s ease;
}

header .navigation__menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header .navigation__menu li {
  list-style: none;
}

header .navigation__menu li a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header .navigation__menu li a:hover {
  color: #f7d90f;
}

header .navigation__menu li .logout {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400; 
  line-height: normal;
  background: unset;
  border: unset;
  cursor: pointer;
}

header .navigation__menu li .logout:hover {
  color: #f7d90f;
}

/* MAIN */

main {
  width: 100%;
}

main .main__container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

main .main__container .container__score {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

main .main__container .container__score .container__name {
  width: 100%;
  max-height: 60px;
  padding: 5px 40px;
  max-width: 1360px;
  margin: 0 auto;
}

main .main__container .container__score .container__name h1 {
  color: #fff;
  white-space: normal;
  text-transform: capitalize;
}

main .main__container .container__score .scores {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main .main__container .container__score .scores .score {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

main .main__container .container__score .scores .score:hover {
  transform: scale(1.02);
}

main .main__container .container__score .scores .score figure {
  width: 100px;
  height: 100px;
}

main .main__container .container__score .scores .score figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main .main__container .container__score .scores .score h2 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main .main__container .container__cards {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main .main__container .container__cards .card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  position: relative;
  justify-content: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

main .main__container .container__cards .card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}

main .main__container .container__cards .card h2 {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main .main__container .container__cards .card img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  position: absolute;
  top: 10px;
  right: 10px;
}

main .main__container .container__cards .card p {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .main__container .container__goal {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main__container .container__goal .goal__content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .main__container .container__goal .goal__content span {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .main__container .container__goal .goal__content .goal__description {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

main .main__container .container__goal .goal__content .goal__description h3 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .main__container .container__goal .goal__content .goal__description span {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .main__container .container__goal .goal__progress {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

main .main__container .container__goal .goal__progress .progress__bar {
  width: 90%;
  height: 41px;
  display: flex;
  position: relative;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

main
  .main__container
  .container__goal
  .goal__progress
  .progress__bar
  .progress-bar__indicator {
  height: 100%;
  border-radius: 20px;
  transition: all 0.5s;
}

main .main__container .container__goal .goal__progress .progress-bar__status {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

main
  .main__container
  .container__goal
  .goal__progress
  .progress-bar__status
  li {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

main
  .main__container
  .container__goal
  .goal__progress
  .progress-bar__status
  li
  .indicator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main
  .main__container
  .container__goal
  .goal__progress
  .progress-bar__status
  li
  .green {
  background: #07d227;
}

main
  .main__container
  .container__goal
  .goal__progress
  .progress-bar__status
  li
  .yellow {
  background: #f7d90f;
}

main
  .main__container
  .container__goal
  .goal__progress
  .progress-bar__status
  li
  .red {
  background: #d20707;
}

main .main__container .container__diverse {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main__container .container__diverse .content__fare {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main .main__container .container__diverse .content__fare .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .main__container .container__diverse .content__fare .content p {
  color: #262424;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .main__container .container__diverse .content__fare .content a {
  color: red;
}

main .main__container .container__diverse .content__fare .content a:hover {
  color: rgb(12, 94, 175);
}

main .main__container .container__diverse .content__fare .content__tips {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

main .main__container .container__diverse .content__fare .content__tips .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .main__container .container__diverse .content__tips {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .main__container .container__diverse .content__tips .tips__card {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  gap: 15px;
}

main .main__container .container__diverse .content__tips .tips__card svg {
  width: 24px;
}

main .main__container .container__diverse .content__tips .tips__card h3 {
  color: #262424;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main .main__container .container__diverse .content__tips .tips__card p {
  color: #262424;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* FOOTER */

footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

footer h4 {
  color: #fff;
  font-family: "Poppins", "sans-serif";
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* RESPONSIVE */
@media screen and (max-width: 1050px) {
  main .main__container .container__cards .card {
    padding: 10px;
    width: 280px;
    height: 280px;
  }
}

@media screen and (max-width: 999px) {
  header {
    padding: 0 20px;
  }
  main .main__container {
    padding: 0 20px;
  }
  header .navigation__menu-mobile {
    display: flex;
  }
  header .navigation__menu {
    position: absolute;
    top: 85px;
    width: 300px;
    height: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #fff;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    display: none;
    right: 0;
  }
  header .navigation__menu.active {
    transition: all 0.5s ease;
    display: flex;
  }
  header .navigation__menu li a {
    color: #000;
  }
  header .navigation__menu li .logout {
    color: #000;
  }
  main .main__container .container__goal {
    height: auto;
    flex-direction: column;
    gap: 60px;
  }
  main .main__container .container__goal .goal__content {
    width: 100%;
  }
  main .main__container .container__goal .goal__progress {
    width: 100%;
  }

  main .main__container .container__diverse {
    height: auto;
    flex-direction: column;
    gap: 60px;
  }

  main .main__container .container__diverse .content__fare {
    width: 100%;
  }

  main .main__container .container__diverse .content__tips {
    width: 100%;
  }

  main .main__container .container__diverse .content__tips .tips__card {
    width: 50%;
  }
  main .main__container .container__cards {
    height: auto;
  }
}

@media screen and (max-width: 890px) {
  main .main__container .container__cards {
    flex-direction: column;
    gap: 30px;
  }
  main .main__container .container__cards .card {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  main .main__container .container__score .container__name h1 {
    font-size: 16px;
  }
  main .main__container .container__score .scores .score h2 {
    font-size: 16px;
  }
  main .main__container .container__diverse .content__tips .tips__card {
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  main .main__container .container__score .score {
    width: 100px;
  }
}
@media screen and (max-width: 430px) {
  main .main__container .container__cards .card {
    width: 100%;
  }
  main .main__container .container__diverse .content__tips .tips__card {
    width: 100%;
  }
  main
    .main__container
    .container__diverse
    .content__fare
    .content__tips
    .cards {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 380px) {
  main .main__container .container__score {
    flex-direction: column;
    height: auto;
    gap: 30px;
  }
}

@media screen and (max-width: 300px) {
  main .main__container .container__score .scores .score {
    width: 90px;
  }
}
