main {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.current_consumption {
  width: 100%;
  min-height: 550px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.current_consumption_graphic {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
}

.current_consumption_indicator {
  position: absolute;
  right: -50px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.indicator-colors {
  display: flex;
  align-items: center;
  gap: 5px;
}

.indicator-color {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background: #f7d90f;
}

.total-color {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background: #262424;
}

.current_consumption-circle-progress {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: conic-gradient(#f7d90f, 3.6deg, #262424 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in;
}

.current_consumption-circle-progress::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
}

.progress-value {
  position: relative;
  display: none;
}

.current_consumption_description {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current_consumption_description h2 {
  color: #262424;
  font-size: 54px;
  font-weight: 400;
}

.current_consumption-progress {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.consumption-goal {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.consumption-goal h2,
.consumption-goal span {
  color: #262424;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.rest-goal {
  color: #d20707;
}

.consumption-progress {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 75px;
}

.consumption_progress-bar {
  width: 611px;
  height: 41px;
  display: flex;
  position: relative;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.indicator-progress-bar {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background: #07d227;
  transition: all 0.5s;
  opacity: 0;
}

.consumption_indicators-items {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
  list-style: none;
}

.consumption_indicators-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.indicator {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.indicator-good {
  background: #07d227;
}
.indicator-average {
  background: #f7d90f;
}
.indicator-attention {
  background: #d20707;
}

.consumption_cost-tips {
  width: 100%;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.consumption-cost {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.consumption-cost h2 {
  color: #262424;
  text-align: center;
  font-size: 24px;
}

.consumption-cost h1 {
  color: #262424;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.consumption-cost-information {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.cost-information {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.cost-information li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.cost-information li span {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cost-information li i {
  font-size: 32px;
}

.consumption-tip {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-consumption-tip {
  width: 400px;
  min-height: 400px;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.card-consumption-tip i {
  color: #f7d90f;
  font-size: 24px;
}

.card-consumption-tip span {
  color: #262424;
  font-size: 18px;
  font-weight: 700;
}

.card-consumption-tip p {
  color: #262424;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

/* Responsive */

@media screen and (max-width: 1300px) {
  .current_consumption_graphic {
    flex-direction: column;
  }
  .current_consumption_indicator {
    position: unset;
    right: unset;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .current_consumption {
    height: auto;
  }
  .consumption_progress-bar {
    width: 90%;
  }
}

@media screen and (max-width: 999px) {
  .current_consumption {
    flex-direction: column;
    padding: 20px;
  }
  .current_consumption_indicator {
    order: 1;
    width: 100%;
  }
  .current_consumption_graphic {
    order: 2;
    width: 100%;
  }
  .current_consumption-circle-progress {
    width: 300px;
    height: 300px;
  }
  .current_consumption-circle-progress::before {
    width: 150px;
    height: 150px;
  }
  .current_consumption_description {
    width: 100%;
  }
  .current_consumption_description h2 {
    font-size: 32px;
    text-align: center;
  }
  .current_consumption-progress {
    flex-direction: column;
    gap: 60px;
    padding: 10px;
  }
  .consumption-goal {
    width: 100%;
  }
  .consumption-progress {
    width: 100%;
    align-items: center;
  }
  .consumption_indicators-items {
    align-items: center;
  }
  .consumption_cost-tips {
    height: auto;
    flex-direction: column;
    padding: 10px;
  }
  .consumption-cost {
    width: 100%;
  }
  .consumption-tip {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .current_consumption_indicator {
    flex-direction: column;
  }
  .cost-information {
    flex-direction: column;
  }
  .card-consumption-tip {
    width: 90%;
    min-height: 400px;
    height: auto;
  }
}

@media screen and (max-width: 370px) {
  .current_consumption-circle-progress {
    width: 250px;
    height: 250px;
  }
  .current_consumption-circle-progress::before {
    width: 120px;
    height: 120px;
  }
  .current_consumption_description h2 {
    font-size: 24px;
  }
  .current_consumption_indicator {
    align-items: flex-start;
  }
  .current_consumption {
    padding: 10px;
  }
}
