@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* HEADER */

header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .navigation__logo {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

header nav .navigation__logo figure {
  width: 50px;
  height: 50px;
}

header nav .navigation__logo figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header nav .navigation__menu {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

header nav .navigation__menu button {
  width: 130px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

header nav .navigation__menu #btn-register {
  background: #036;
}

header nav .navigation__menu #btn-register:hover {
  background: rgb(12, 94, 175);
  transform: scale(1.01);
}

header nav .navigation__menu #btn-register a {
  color: #fff;
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

header nav .navigation__menu #btn-login {
  background: #f7d90f;
}

header nav .navigation__menu #btn-login:hover {
  background: #ffeb6a;
  transform: scale(1.01);
}

header nav .navigation__menu #btn-login a {
  color: #262424;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

header nav .navigation__menu .menu__mode {
  display: none;
}

/* MAIN */

main {
  width: 100%;
}

main .main__container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}

main .main__container .container__content {
  width: 100%;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .main__container .container__content .content__description {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .main__container .container__content .content__description h2 {
  color: #000;
  font-family: "Poppins", "sans-serif";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .main__container .container__content .content__figure {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .main__container .container__content .content__figure figure {
  max-width: 521px;
  max-height: 464px;
}

main .main__container .container__content .content__figure figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main .main__container .container__compontes {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .main__container .container__compontes .componentes__items {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .main__container .container__compontes .componentes__items .item {
  width: 180px;
  height: 143px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 15px;
}

main .main__container .container__compontes .componentes__items .item figure {
  width: 80px;
  height: 80px;
}

main
  .main__container
  .container__compontes
  .componentes__items
  .item
  figure
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main .main__container .container__compontes .componentes__items .item span {
  color: #000;
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

/* SLICK */
.slick-track{
    height: 100%;
}
.slick-list{
    height: 100%;
}

.slick-prev {
    
}

/* FOOTER */

/* RESPONSIVE */
